<!doctype html>

<div>
    <main>
        <form method="get" action="/solve" novalidate>
            <div >
                <label for="sepal-length" >Sepal Length</label>
                <input type="number" id="sepal-length" name="sepal-length"  value="0.1">
            </div>
            <div>
                <label for="sepal-width" >Sepal Width</label>
                <input type="number" id="sepal-width" name="sepal-width" value="0.1">
            </div>
            <div>
                <label for="petal-length" >Petal Length</label>
                <input type="number" id="petal-length" name="petal-length" value="0.1">
            </div>
            <div >
                <label for="petal-width" >Petal Width</label>
                <input type="number" id="petal-width" name="petal-width" value="0.1">
            </div>
            <button type="submit">Solution</button>
        </form>
    </main>
</div>

</body>
</html>